<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
          
    <title>SiteMap</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>

    @*HEADER START*@
    @RenderSection("Header")
    @*//HEADER END*@

    @*SECTION START*@
    @RenderBody()
    @*//SECTION END*@

    @*FOOTER START*@
    <footer>
        <div class="navbar navbar-fixed-bottom">
            <span><b>&copy; 2016</b></span>
            <span><b>Helazhys Anton</b></span>
        </div>
    </footer>
    @*//FOOTER END*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>